.App {
  text-align: center;
  margin: auto 40%;
}

.site-container {
  background-color: orange;
  padding: 20px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.number-input {
  border: 2px solid black;
  padding: 5px;
  margin: 5px 0;
}

.btn-num-operator {
  margin: 2px;
  padding: 5px 10px;
  border: 2px solid black;
  color: white;
  background-color: orange;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
